@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

.leaflet-container {
    width: 100%;
    min-height: 100vh;
}

// .navbar-menu.navbar-item {
//     overflow-x: visible;
//     overflow-y: visible;
// }

#nav-toggle-state {
    display: none;
}

#nav-toggle-state:checked ~ .narvbar-menu {
    display: block;
}

@import "../../../node_modules/bulma/css/bulma.css";
