@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

$nicegreen: #fff000;
$is-success: $nicegreen;

.leaflet-container {
    width: 100%;
    min-height: 100vh;
    z-index: 0;
}

.navbar-menu.is-active {
    position: absolute;
    width: 100%;
}

.leaflet-popup-content {
    margin: 0;
}

.leaflet-popup-content-wrapper {
    padding: 0;
}

.card {
    padding: 10px;
    border-radius: 20px;
}

.image {
    margin: 0;
    border-radius: 20px;
}

@import "../../../node_modules/bulma/css/bulma.css";
