@charset "utf-8";

@import "../../../node_modules/bulma/css/bulma.css";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

.leaflet-container {
    width: 100%;
    min-height: 100vh;
}
//ADDED THIS BECAUSE FIREFOX STOP RENDERING WHEN THERE IS TOO MANY PIXEL TO RENDER
.leaflet-fade-anim .leaflet-tile,
.leaflet-zoom-anim .leaflet-zoom-animated {
    will-change: auto !important;
}
